# Ambientes virtuais
**/venv

# Arquivo de variáveis de ambiente
**/.env
none-01f-955-LostFinder-0.1-resolved.yaml

# Cache
**/__pycache__

# Cache - Pytest
**/.pytest_cache

# Banco de dados
**/*.db

# Uploads (arquivos gerados)
uploads/